.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.button {
  width: 200px;
  height: 60px;
  font-size: 14px;
  border-radius: 10px;
  color: blueviolet;
  cursor: pointer;
}

.first_button {
  background-color: blueviolet;
  color: white;
  border: 0px;
}
