.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(176, 174, 174, 0.385);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: black;
  margin-bottom: 20px;
}
.hero_text {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 3px white;
}

.hero_img {
  height: 70%;
  width: 400px;
}

.title {
  text-align: center;
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-shadow: 1px 3px 4px black;
}

.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  gap: 15px;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
}

.card_img {
  width: 300px;
  height: 300px;
}

.card_name {
  text-transform: uppercase;
  font-size: 24px;
  color: rgba(14, 1, 1, 0.984);
}

.card_color {
  font-size: 16px;
  color: rgba(111, 111, 111, 0.704);
}
.card_price {
  font-size: 24px;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: center;
}
.purchase_button {
  color: white;
  background-color: black;
  border-radius: 7px;
  font-size: 24px;
  width: 150px;
  height: 40px;
  margin-block: 15px;
}

.heart {
  position: absolute;
  top: 2px;
  right: 10px;
  margin-top: 12px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
