.modalWrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 560px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
}
.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 560px;
  height: 558px;
  background-color: white;
  border-radius: 10px;
}
.modal_close {
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}

.body_img {
  margin: 0 auto;
  width: 60%;
  height: 180px;
  background-color: rgb(0, 0, 0, 0.2);
  margin-bottom: 60px;
}

.modal_body {
  margin-bottom: 50px;
}

.title {
  font-size: 28px;
}
.description {
  padding-inline: 10px;
  font-size: 22px;
}

.modal_close:hover {
  color: red;
}

.main_buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 250px;
}

.main_button {
  border-radius: 10px;
  font-size: 28px;
  width: 300px;
  height: 100px;
}
