.text {
  color: black;
}

.additional_title {
  margin-top: 100px;
}

.additional_page {
  padding-top: 50px;
  background-color: rgba(176, 174, 174, 0.385);
  height: 100vh;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
