.button {
  width: 200px;
  height: 60px;
  font-size: 14px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
}

.first_button {
  background-color: black;
  color: white;
  border: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(176, 174, 174, 0.385);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: black;
  margin-bottom: 20px;
}
.hero_text {
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 3px white;
}

.hero_img {
  height: 70%;
  width: 400px;
}

.title {
  text-align: center;
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-shadow: 1px 3px 4px black;
}

.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  gap: 15px;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
}

.card_img {
  width: 300px;
  height: 300px;
}

.card_name {
  text-transform: uppercase;
  font-size: 24px;
  color: rgba(14, 1, 1, 0.984);
}

.card_color {
  font-size: 16px;
  color: rgba(111, 111, 111, 0.704);
}
.card_price {
  font-size: 24px;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}
.purchase_button {
  color: white;
  background-color: black;
  border-radius: 7px;
  font-size: 24px;
  width: 150px;
  height: 40px;
  margin-block: 15px;
  cursor: pointer;
}

.heart {
  position: absolute;
  top: 5px;
  right: 10px;
  margin-top: 12px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal_title {
  font-size: 26px;
}

.header_container {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_item {
  list-style: none;
  font-size: 22px;
  padding-inline: 30px;
}
header {
  z-index: 100;
  top: 0;
  position: fixed;
  background-color: rgb(245, 245, 245);
  width: 100%;
}
.nav_list {
  display: flex;
}
.input {
  background-color: rgb(227, 227, 227);
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.actions {
  display: flex;
}

.favorites {
  display: flex;
}
.header_heart {
  margin-top: 3px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.favorite_text {
  font-size: 20px;
  padding: 5px;
}

.cart {
  display: flex;
  margin-left: 10px;
}

.shopping_cart {
  margin-top: 3px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.active_cart {
  fill: black;
}

.liked {
  fill: black;
}
.modal_card {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_img {
  width: 120px;
}
/* .cart-menu {
  position: absolute;
  top: 45px;
  min-height: 100px;
  right: -145px;
  background-color: white;
  width: 200px;
  box-shadow: 4px 5px 15px -7px #606060;
} */

.styled_link {
  text-decoration: none;
}

/* .cost_title {
  content: "";
  width: 100px;
  height: 1px;
  border-bottom: 1px solid black;
} */

.delete_card {
  position: absolute;
  top: -400px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}
.delete_card:hover {
  color: red;
}

.count_input {
  width: 20px;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
} */
